.Ingredients {
    height: 90rem;
    background-color: #DDDDFF;
}

.IngredientsCreate {

    margin-top: auto;
    margin-bottom: 0.5rem;

    &__Name,
    &__Aisle {
        margin-right: 0.5rem;
    }
}