.MealPlannerDay {
    display: flex;

    margin-bottom: 0.75rem;

    &__day-name {
        display: block;
        width: 5rem;
    }

    &__options {
        margin-right: 1rem;
        width: 11rem;
    }
}